In [13]:
import pandas as pd

In [60]:
# Importando os datasets
global_hunger_index = pd.read_csv("data/global-hunger-index.csv")
underweight_children = pd.read_csv("data/share-of-children-underweight.csv")
low_weight_children = pd.read_csv("data/share-of-children-with-a-weight-too-low-for-their-height-wasting.csv")
stunting_children = pd.read_csv("data/share-of-children-younger-than-5-who-suffer-from-stunting.csv")

## Global Hunger Index

In [24]:
global_hunger_index.sample(5)

        Entity Code  Year  Global Hunger Index (2021) 411773-annotations
173      Ghana  GHA  2021                        14.9                NaN
368     Rwanda  RWA  2021                        26.4                NaN
56    Bulgaria  BGR  2000                         8.6                NaN
192      India  IND  2000                        38.8                NaN
255  Lithuania  LTU  2021                         2.5                NaN

In [25]:
global_hunger_index.dtypes

Entity                         object
Code                           object
Year                            int64
Global Hunger Index (2021)    float64
411773-annotations             object
dtype: object

In [26]:
global_hunger_index.shape

(471, 5)

In [28]:
global_hunger_index.isnull().sum()

Entity                          0
Code                            0
Year                            0
Global Hunger Index (2021)      0
411773-annotations            459
dtype: int64

In [61]:
global_hunger_index.drop(global_hunger_index.columns[4], axis=1, inplace=True)

In [62]:
global_hunger_index

          Entity Code  Year  Global Hunger Index (2021)
0    Afghanistan  AFG  2000                        50.9
1    Afghanistan  AFG  2006                        42.7
2    Afghanistan  AFG  2012                        34.3
3    Afghanistan  AFG  2021                        28.3
4        Albania  ALB  2000                        20.7
..           ...  ...   ...                         ...
466        Yemen  YEM  2006                        38.8
467        Yemen  YEM  2012                        38.4
468        Yemen  YEM  2021                        45.1
469       Zambia  ZMB  2021                        27.5
470     Zimbabwe  ZWE  2021                        27.5

[471 rows x 4 columns]